body {
  background-color: #100C13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  user-select: none;
}

/* Navbar */
.navbarTop {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  border-bottom: solid 1px #333;
  font-size: 16px;
  padding: 10px 5px 10px 20px;
}

#i_logo {
  border-radius: 100%;
  margin: 1px;
  margin-right: 20px;
  width: 30px;
}

.navbar-toggler-icon {
  color: #B2B2B2;
}

.nav-link {
  color: #B2B2B2;
  text-align: center;
}

.nav-linkTop, .nav-linkTop:active, .nav-linkTop:visited {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.nav-link:hover {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #fff;
}

.active {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #6E85B2 !important;
}

.form-control {
  font-size: 12px;
}

#b_user {
  color: #B2B2B2;
}

.fixed-bottom {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  display: none;
}

.navbarBottom {
  justify-content: space-around;
  width: 100%;
}

.navPhone {
  padding: 0;
  text-align: center !important;
}

.fontNav {
  font-size: 10px;
}

.faBottom {
  font-size: 25px;
  padding-top: 2px;
}

/* Introduction */
.intro-card-mb-3 {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

#i_intro {
  width: 45vw;
}

.card-title {
  color: #eee;
  font-weight: bold;
}

.intro-card-title {
  font-size: 4vw;
}

.text-muted {
  color: #B2B2B2;
}

.intro-text-muted {
  font-size: 1.5vw;
}

/* Categories */
.section {
  padding: 5px 5vw 0 5vw;
}

.section_title {
  color: #eee;
  font-weight: bold;
}

.div_form_chevron {
  height: calc(88px + 1vh);
  pointer-events: none;
  position: absolute;
  width: 90vw;
}
.b_chevron{
  backdrop-filter: blur(2px);
  margin: 24px 0;
  pointer-events: auto;
  position: absolute;
}
#b_left {
  left: 0;
}
#b_right {
  right: -1vw;
}

.div_form_btn {
  align-items: center;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 1px;
  white-space: nowrap;
  width: 90vw;
}
.b_form {
  border: none;
  border-radius: 10px;
  color: #eee;
  display: inline-block;
  height: 88px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
}
.b_form:hover, .b_form:active, .b_subject:hover, .b_subject:active {
  border: solid 2px #eee;
  filter: brightness(110%);
}
#b_f5 {
  background-color: #5C527F;
}
#b_f4 {
  background-color: #527F77;
}
#b_f3 {
  background-color: #677F52;
}
#b_f2 {
  background-color: #AAA75F;
}
#b_f1 {
  background-color: #A3694B;
}

.div_subject_btn{
  align-items: center;
  display: none;
  max-height: 88px;
  overflow-y: auto;
  padding-bottom: 1px;
  width: 90vw;
}
.b_subject {
  background-color: #7B7A7F;
  border: none;
  border-radius: 10px;
  color: #eee;
  height: 32px;
  margin: 5px;
  width: 90px;
}
#b_subject_back {
  background-color: #555;
}
#b_subject_back:hover {
  border: solid 2px #666;
}

/* Responsive webpage */
@media screen and (max-width: 992px) {
  /* Navbar */
  .nav-link, .nav-link:active, .nav-link:visited{
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .fixed-top {
    display: none;
  }
  .fixed-bottom {
    display: block;
  }

  /* Introduction */
  .intro-card-mb-3 {
    display: none;
  }
  #i_intro_hidden {
    display: block;
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  /* Introduction */
  #intro {
    margin-top: 75px;
  }
  #i_intro_hidden {
    display: none;
  }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .div_form_chevron {
    display: none !important;
  }
  .div_form_btn {
    overflow: auto;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
