body {
  background-color: #100C13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  filter: brightness(85%);
  font-weight: bold;
  text-decoration: underline;
}

/* Navbar */
.navbarTop {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  border-bottom: solid 1px #333;
  font-size: 16px;
  padding: 10px 5px 10px 20px;
}

#i_logo {
  border-radius: 100%;
  margin: 1px;
  margin-right: 20px;
  width: 30px;
}

.navbar-toggler-icon {
  color: #B2B2B2;
}

.nav-link {
  color: #B2B2B2;
  text-align: center;
}

.nav-linkTop, .nav-linkTop:active, .nav-linkTop:visited {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.nav-link:hover {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #fff;
}

.active {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #6E85B2 !important;
}

.form-control {
  font-size: 12px;
}

#b_user {
  color: #B2B2B2;
}

.fixed-bottom {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  display: none;
}

.navbarBottom {
  justify-content: space-around;
  width: 100%;
}

.navPhone {
  padding: 0;
  text-align: center !important;
}

.fontNav {
  font-size: 10px;
}

.faBottom {
  font-size: 25px;
  padding-top: 2px;
}

/* Back */
#b_back {
  position: absolute;
  margin: 10vh 0 0 2vw;
}

/* Main */
.main {
  position: relative;
  top: calc(14vh + 20px);
  padding: 5px 0 0 2vw;
}

/* Video */
.lesson-card-mb-3 {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  color: #eee;
  font-weight: bold;
}

.lesson-card-title {
  font-size: 3vw;
  max-width: 29vw;
}

.text-muted {
  color: #B2B2B2;
}

.title {
  align-items: center;
  display: flex;
}
.video_type {
  align-items: center;
  position: absolute;
  right: 1vw;
}
.user_wishlist{
  align-items: center;
  bottom: 2vh;
  position: absolute;
  right: 1vw;
}
.bx_l {
  color: #6E85B2;
  font-size: 2.2vw;
  margin: 3px 2px 1vh;
}
.video_type .bx_l {
  font-size: 3vw;
}
.user_wishlist .bx_l:hover {
  cursor: pointer;
  filter: brightness(120%);
}
.bxs-heart {
  color: #FF4343;
}

/* Notes */
iframe {
  height: 90vh;
  width: 95vw;
}

/* Footer */
footer {
  height: 2vh;
  width: 80vw;
}

/* Responsive webpage */
@media screen and (max-height: 650px){
  /* Back */
  #b_back {
    margin-top: 65px;
  }
}
@media screen and (min-height: 1000px){
  /* Back */
  #b_back {
    margin-top: 100px;
  }
}

@media screen and (max-width: 992px) {
  /* Navbar */
  .nav-link, .nav-link:active, .nav-link:visited{
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .fixed-top {
    display: none;
  }
  .fixed-bottom {
    display: block;
  }
  /* Back */
  #b_back {
    margin-top: 1vh;
  }
  /* Main */
  .main {
    top: 8vh;
  }
  /* Video */
  .lesson-card-title {
    font-size: 20px;
    max-width: none;
  }
  .bx_l {
    font-size: 40px;
  }
  .video_type .bx_l {
    font-size: 30px;
  }
  /* Footer */
  footer {
    height: 10vh;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
