body {
  background-color: #100C13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  user-select: none;
}

/* Navbar */
.navbarTop {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  border-bottom: solid 1px #333;
  font-size: 16px;
  padding: 10px 5px 10px 20px;
}

#i_logo {
  border-radius: 100%;
  margin: 1px;
  margin-right: 20px;
  width: 30px;
}

.navbar-toggler-icon {
  color: #B2B2B2;
}

.nav-link {
  color: #B2B2B2;
  text-align: center;
}

.nav-linkTop, .nav-linkTop:active, .nav-linkTop:visited {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.nav-link:hover {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #fff;
}

.active {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #6E85B2 !important;
}

.form-control {
  font-size: 12px;
}

#b_user {
  color: #B2B2B2;
}

.fixed-bottom {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  display: none;
}

.navbarBottom {
  justify-content: space-around;
  width: 100%;
}

.navPhone {
  padding: 0;
  text-align: center !important;
}

.fontNav {
  font-size: 10px;
}

.faBottom {
  font-size: 25px;
  padding-top: 2px;
}

/* Back */
#b_back {
  position: absolute;
  margin: 10vh 0 0 2vw;
  z-index: 20;
}

/* Main */
.main {
  position: relative;
  top: calc(3vh + 20px);
  padding: 5px 0 0 2vw;
}

/* Main Profile */
#profile {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.col_profile_img {
  flex: 0 0 auto;
  width: 20%;
}

#i_profile {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.profile-card-mb-3 {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 85vw;
}

.card-title {
  color: #eee;
  font-weight: bold;
}

/* Contact */
#contact {
  margin: 3vh auto 0;
}

#contact_title {
  color: #B2B2B2;
  margin-bottom: 1rem;
}

#div_btn_contact_big {
  display: inline-block;
}
#div_btn_contact_small {
  display: none;
}

.btn_contact {
  border-radius: 20px;
  color: #eee;
  height: 42px;
  width: 240px;
}
.btn_contact:hover {
  color: #fff;
  filter: brightness(110%);
}
.btn_contact_small {
  background-color: rgba(255,255,255, 0.04);
  border-radius: 15px;
  height: 40px;
  margin-right: calc(1vw + 3px);
  width: 60px;
}

.btn_contact_small:hover, .btn_contact_small:active {
  filter: brightness(150%);
}

.btn_contact:hover .btn_contact_text {
  text-decoration: underline;
}

.fa_contact {
  font-size: 24px;
}

.btn_contact.b_email {
  background-color: #677F52;
}
.btn_contact.b_fb {
  background-color: #6E85B2;
}
.btn_contact.b_yt {
  background-color: #A3694B;
}

.btn_contact_small.b_email {
  color: #677F52;
}
.btn_contact_small.b_fb {
  color: #6E85B2;
}
.btn_contact_small.b_yt {
  color: #A3694B;
}

/* Lesson */
#lesson {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
}

.lesson_header {
  margin: 2vh 0 0 5px;
  max-width: 90vw;
}

.lesson_title {
  color: #eee;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: left;
}

.lesson_subtitle {
  color: #6E85B2;
  cursor: pointer;
  float: right;
  position: relative;
  top: 10px;
}
.lesson_subtitle:hover {
  text-decoration: underline;
}

.card_collection {
  margin: 0 0 50px;
  overflow-y: auto;
  width: 90vw;
}
.myCardCol {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  margin-right: 0;
}
.myCard {
  background-color: transparent;
  min-width: 300px;
  padding: 5px;
}
.myCard:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.card-title {
  color: #eee;
  font-size: 28px;
  font-weight: bold;
  min-height: 33px;
}
.card-text {
  color: #b2b2b2;
}

.video_type {
  align-items: center;
  position: relative;
}
.user_wishlist{
  align-items: center;
  bottom: 2vh;
  position: absolute;
  right: 1vw;
}

.bx {
  color: #6E85B2;
  font-size: 30px;
  margin: 3px 2px 1vh;
}
.bx:hover {
  filter: brightness(120%);
}
.i_tutor_profile {
  border-radius: 100%;
  height: 30px;
  margin: 3px 2px 1vh;
  vertical-align: middle;
  width: 30px;
}
.bxs-heart {
  color: #A1A1A1;
  vertical-align: middle;
}
.bxs-heart:hover, .bxs-heart:active {
  color: #FF4343;
}

small {
  font-size: 16px;
}

.div_form_chevron {
  display: none;
  height: calc(88px + 1vh);
  pointer-events: none;
  position: absolute;
  width: 90vw;
}
.b_chevron{
  backdrop-filter: blur(2px);
  margin: 25vh 0;
  pointer-events: auto;
  position: absolute;
  z-index: 50;
}
.b_left {
  left: 0;
}
.b_right {
  right: -1vw;
}

footer {
  height: 80px;
}

/* Responsive webpage */
@media screen and (max-height: 650px){
  /* Back */
  #b_back {
    margin-top: 65px;
  }
}
@media screen and (min-height: 1000px){
  /* Back */
  #b_back {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1150px) {
  .col_profile_img {
    width: 30%;
  }
  .col_profile_des {
    width: 65%;
  }

  #contact {
    margin: 3vh 0 0;
  }
  #contact_title {
    margin-bottom: 1vh;
  }
  #div_btn_contact_big {
    display: none;
  }
  #div_btn_contact_small {
    display: inline-flex;
  }
}

@media screen and (max-width: 992px) {
  /* Navbar */
  .nav-link, .nav-link:active, .nav-link:visited{
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .fixed-top {
    display: none;
  }
  .fixed-bottom {
    display: block;
  }
  /* Back */
  #b_back {
    margin-top: 1vh;
  }
  .main {
    top: 5vh;
  }
  .col_profile_img {
    width: 90%;
  }
  .col_profile_des {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  /* Introduction */
  #profile {
    margin-top: 75px;
  }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .div_form_chevron {
    display: none !important;
  }
  .div_form_btn {
    overflow: auto;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
