body {
  background-color: #100C13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  user-select: none;
}

h3 {
	background-color: #2B1F33;
	border-radius: 29px;
	font-size: 20px;
	padding: 5px 10px;
	width: 95%;
}

/* Navbar */
.navbarTop {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  border-bottom: solid 1px #333;
  font-size: 16px;
  padding: 10px 5px 10px 20px;
}

#i_logo {
  border-radius: 100%;
  margin: 1px;
  margin-right: 20px;
  width: 30px;
}

.navbar-toggler-icon {
  color: #B2B2B2;
}

.nav-link {
  color: #B2B2B2;
  text-align: center;
}

.nav-linkTop, .nav-linkTop:active, .nav-linkTop:visited {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.nav-link:hover {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #fff;
}

.active {
  border-bottom: solid 2px #6E85B2;
  border-top: solid 1px transparent;
  color: #6E85B2 !important;
}

.form-control {
  font-size: 12px;
}

#b_user {
  color: #B2B2B2;
}

.fixed-bottom {
  backdrop-filter: blur(4px);
  background-color: rgba(11, 11, 11, 0.75);
  display: none;
}

.navbarBottom {
  justify-content: space-around;
  width: 100%;
}

.navPhone {
  padding: 0;
  text-align: center !important;
}

.fontNav {
  font-size: 10px;
}

.faBottom {
  font-size: 25px;
  padding-top: 2px;
}

/* Back */
#b_back {
  position: absolute;
  margin: 10vh 0 0 2vw;
  z-index: 20;
}

/* Main */
.main {
  position: relative;
	color: #eee;
  top: calc(14vh + 20px);
  padding: 5px 0 0 2vw;
}

.upload-card-title {
	font-weight: 600;
	margin: .5rem auto;
}

#general {
	font-size: 20px;
}

.subtitle {
	display: inline-block;
	vertical-align: text-top;
	padding: 5px 10px;
}

.blank {
	display: inline-block;
	padding: 5px 10px;
	position: relative;
	vertical-align: text-top;
}

.star {
	color: #FA4646;
}
.count {
	bottom: 10px;
	font-size: 12px;
	font-style: italic;
	position: absolute;
	right: 20px;
	text-align: right;
	z-index: 10;
}

textarea {
	border-radius: 10px;
	padding-bottom: 20px;
	vertical-align: text-top;
	width: 80vw;
}

select {
	background-color: #7B7A7F;
	border-radius: 5px;
	color: #eee;
	height: 40px;
	margin: 5px 10px;
	width: 120px;
}
option {
	color: #000;
}

label {
	margin-left: 1vw;
	margin-right: 3vw;
}
#others {
	margin-right: 1vw;
}
#others_text {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #FA4646;
	color: #eee;
	vertical-align: text-bottom;
	width: 300px;
}

footer {
  height: 80px;
}

/* Responsive webpage */
@media screen and (max-height: 650px){
  /* Back */
  #b_back {
    margin-top: 65px;
  }
}
@media screen and (min-height: 1000px){
  /* Back */
  #b_back {
    margin-top: 100px;
  }
}

@media screen and (max-width: 992px) {
  /* Navbar */
  .nav-link, .nav-link:active, .nav-link:visited{
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .fixed-top {
    display: none;
  }
  .fixed-bottom {
    display: block;
  }
  /* Back */
  #b_back {
    margin-top: 1vh;
  }
	/* Main */
  .main {
    top: 7vh;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* italic placeholder */
::-webkit-input-placeholder {
	font-size: 16px;
	font-style: italic;
}
:-moz-placeholder {
	font-size: 16px;
	font-style: italic;
}
::-moz-placeholder {
	font-size: 16px;
	font-style: italic;
}
:-ms-input-placeholder {
	font-size: 16px;
	font-style: italic;
}
